<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8" />
    @RenderSection("HeadScripts", false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>